/* Codice per la compatibilità con versioni dei browser obsolete (che non riconoscono la semantica dell'HTML5) */
article, aside, figure, figcaption, footer, header, hgroup, nav, section{
	     display: block;
}
/* fine codice compatibilità */

body {
	width: 1200px;
	margin: 0 auto 0 auto;
	font-size: 18px;
}

header {
	width: 1160px;
	height: 70px;
	background-color: #A4A875;
	padding: 10px;
	margin: 10px;
}

nav {
	width: 1160px;
	height: 70px;
	background-color: #DCDCDA;
	padding: 10px;
	margin: 10px 10px 0 10px;
}

article {
	width: 760px;
	/*height: 300px;*/
	height: auto;
	float: left;
	background-color: #47834B;
	padding: 10px;
	margin: 10px;	
}

section {
	width: 740px;
	/*height: 120px;*/
	height: auto;
	background-color: #F2F2F2;
	padding: 10px;
	margin: 10px 0 0 0;
	overflow: hidden;
}

aside {
	width: 360px;
	height: 300px;
	float: left;
	background-color: #72C29B;
	padding: 10px;	
	margin: 10px;
}

footer {
	clear: both;
	width: 1160px;
	height: 70px;
	background-color: #C4C4C4;
	padding: 10px;
	margin: 10px;
}

div.domande, div.risposte {
	width: 250px;
	height: 350px;
	margin: 10px auto;
	border: blue 1px solid;
}

div.domande div, div.risposte div {
	width: 200px;
	height: 100px;
	margin: 10px auto;
	border: red 1px solid;
	position: relative;	/* serve poi per la classe 'replicaImmagine' che è impostata a 'position:absolute' */
}

img {
	width: 50%;
	margin: 0 50px 0 50px;
}

/* CLASSI PERSONALIZZATE */

.domande {
	float: left;
}

.risposte {
	float: right;
}

.separatore {
	width: 234px;
	height: 350px;
	margin: 10px auto;
	border: blue 1px solid;
	float: left;
}

.replicaImmagine {
	position: absolute;	/* relativo al div della risposta, impostato a 'position:relative' */
	left: 200px;
	top: 30px;
	width: 30%;
	border: blue 1px dashed;
}