/***************************************************************************************************************/
/************************************************* TEORIA CSS **************************************************/
/***************************************************************************************************************/
/*
  ***************** POSITION *****************
	Ogni blocco di elementi può essere posizionato in vari modi nel flusso dei contenuti della pagina HTML:
	- "static": posizione di default che ogni elemento occupa nel flusso del documento
	- "fixed": il blocco viene tolto dal normale flusso di inserimento degli elementi e la sua posizione è specificata
				     dagli attributi top, bottom, left, right... La differenza con absolute è che il contenitore a cui fa
					 	 riferimento è sempre la finestra del browser
	- "absolute": il blocco viene sottratto al normale flusso dei contenuti, si specificano manualmente le coordinate
						    di posizionamento. Avviene sempre rispetto al box contenitore dell’elemento (il contenitore deve
							  essere settato a "position: relative" senza coordinate).
	- "relative": l'elemento viene posizionato relativamente al suo box contenitore (a se stesso). In questo caso il
								box contenitore è rappresentato dal posto che l’elemento avrebbe occupato nel normale flusso del
								documento.
							  La posizione viene impostata con le proprietà top, left, bottom o right (l'elemento viene traslato).
							  Con valori positivi --> spingiamo l'elemento lontano dall'attributo usato (es. left: 50px)
							  Con valori negativi --> tiriamo l'elemento verso l'attributo usato (es. top: -20px)
							  Gli altri box intorno mantengono la stessa posizione (come se il blocco relative fosse ancora in quella
							  posizione - "fantasma")

	- "float": quando ci sono più blocchi che vanno ad incidere sulla stessa zona allora sono shiftati verso dx o sx

	- "clear: both": proprietà che annulla gli attributi position e float dei blocchi precedenti (usato ad es. nel footer)
  ********************************************

	***************** OVERFLOW *****************
	Il contenuto in eccesso viene mantenuto all'interno del contenitore (aggiungendo eventulmente delle barre laterali
	di scorrimento):
		- overflow: auto;		// adatta il contenitore al contenuto
		- overflow: hidden; // taglia il contenuto
	********************************************
*/

/***************************************************************************************************************/
/************************************************* REGOLE CSS **************************************************/
/***************************************************************************************************************/
 
/* Codice per la compatibilità con versioni dei browser obsolete (che non riconoscono la semantica dell'HTML5) */
article, aside, figure, figcaption, footer, header, hgroup, nav, section{
	     display: block;
}
/* Fine codice compatibilità */


/* ********************************************** TAG BASE *****************************************************/
body {
	width: 1200px;
	margin: 0 auto 0 auto;
	font-size: 18px;
}

header {
	width: 1160px;
	height: 70px;
	background-color: #A4A875;
	padding: 10px;
	margin: 10px;
}

nav {
	width: 1160px;
	height: 70px;
	background-color: #DCDCDA;
	padding: 10px;
	margin: 10px 10px 0 10px;
}

article {
	width: 760px;
	/*height: 300px;*/
	height: auto;
	float: left;
	background-color: #47834B;
	padding: 10px;
	margin: 10px;
}

section {
	width: 740px;
	/*height: 120px;*/
	height: auto;
	background-color: #F2F2F2;
	padding: 10px;
	margin: 10px 0 0 0;
}

aside {
	width: 360px;
	height: 300px;
	float: left;
	background-color: #72C29B;
	padding: 10px;	
	margin: 10px;
}

footer {
	clear: both;	/* annulla gli effetti di position e float precedenti */
	width: 1160px;
	height: 70px;
	background-color: #C4C4C4;
	padding: 10px;
	margin: 10px;
}


/* ********************************** CLASSI PERSONALIZZATE **************************************/

#logo {
	position: fixed;	/* esempio di posizione "fixed" */
	left: 70%;
	top: 5%;
	background-color: #72C29B;
	border: 1px solid #FFFFFF;
	padding: 5px;
}

#div1 {
	background-color: #FF0000;
	border: 1px solid #000000;
	height: 50px;
}
#div2 {
	background-color: #00FF00;
	border: 1px solid #000000;
	height: 50px;
}
#div3 {
	background-color: #0000FF;
	border: 1px solid #000000;
	height: 50px;
}

#div4 {
	background-color: #FF0000;
	width: 50%;
	height: 50px;
	float: left;
}
#div5 {
	background-color: #00FF00;
	width: 50%;
	height: 50px;
	float: right;
}
#div6 {
	background-color: #0000FF;
	width: 50%;
	height: 50px;
	float: left;
}
#div7 {
	background-color: #000000;
	width: 50%;
	height: 50px;
	float: right;
}
#div8 {
	background-color: yellow;
	width: 5%;
	position: absolute;	/* position "absolute" (si rifà al tag <html> in quanto non trova prima altri tag con "position relative") */
	left: 32%;
	top: 73%;
}

#div9 {
	background-color: yellow;
	width: 50%;
	position: relative;	/* position "relative" */
	left: 380px;	/* sposto verso dx il box (relativamente alla sua posizione nel flusso) */
	top: 10px;	/* sposto verso il basso il box (relativamente alla sua posizione nel flusso) */
}

#div10 {
	background-color: #000000;
	width: 360px;
	height: 138px;
	float:left;
	margin: 10px;
	padding: 10px;
}
#div10 p {
	color: #FFF;
}

#img {
	width: 100%;
	height: 100%;
}

#sezione {
	overflow: auto;	/* il contenuto in eccesso viene mantenuto all'interno del contenitore */
}



